/.editorconfig export-ignore
/.eslintignore export-ignore
/.eslintrc export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.jshintrc
/.nvmrc export-ignore
/.prettierrc export-ignore
/config.json export-ignore
/generateConfig.mjs export-ignore
/Makefile export-ignore
/package.json export-ignore
/pnpm-lock.yaml export-ignore
