@property --fontFamily { syntax: "*"; inherits: false;}
@property --fontWeight { syntax: "*"; inherits: false;}
@property --fontStyle { syntax: "*"; inherits: false;}
@property --minHeight { syntax: "*"; inherits: false;}
@property --opacity { syntax: "*"; inherits: false;}
@property --transform { syntax: "*"; inherits: false;}
@property --backgroundColor { syntax: "*"; inherits: false;}
@property --borderColor { syntax: "*"; inherits: false;}
@property --background { syntax: "*"; inherits: false;}
.webfonts-1md70p1:not(#\#){background:transparent}
.webfonts-7m5jml:not(#\#){background:var(--background)}
.webfonts-978ut8:not(#\#){background:var(--colors-ContrastDarker)}
.webfonts-178jugr:not(#\#){background:var(--colors-ContrastDarkest)}
.webfonts-1wty727:not(#\#){border:0}
.webfonts-1fdo2jl:not(#\#){grid-area:content}
.webfonts-d3rg8h:not(#\#){grid-template:'content' 1fr / 1fr}
.webfonts-1gjcfxf:not(#\#){padding:0 0 0 14px}
.webfonts-1732f5w:not(#\#){padding:0!important}
.webfonts-u0uvaq:not(#\#){padding:var(--spacing-Half) var(--spacing-Full)}
.webfonts-1y4g52z:hover:not(#\#){background:var(--colors-PrimaryBlue)}
.webfonts-1u3gezn:not(#\#):not(#\#){border-color:var(--borderColor)}
.webfonts-1cum3z5:not(#\#):not(#\#){border-radius:2px}
.webfonts-10hpsqq:not(#\#):not(#\#){border-radius:9999px}
.webfonts-1y0btm7:not(#\#):not(#\#){border-style:solid}
.webfonts-mkeg23:not(#\#):not(#\#){border-width:1px}
.webfonts-1iv4zvh:not(#\#):not(#\#){gap:var(--spacing-Half)}
.webfonts-us49la:not(#\#):not(#\#){outline:2px solid var(--colors-Warn)}
.webfonts-zd0ubt:not(#\#):not(#\#){outline:none!important}
.webfonts-1v2uk0:not(#\#):not(#\#){outline:var(--colors-Warn) solid 2px}
.webfonts-b3r6kr:not(#\#):not(#\#){overflow:hidden}
.webfonts-c8avi6:not(#\#):not(#\#){transition:opacity var(--transition-Default),transform var(--transition-Default) ease}
.webfonts-1rhqzh7:not(:first-child):not(#\#):not(#\#){border-top:1px solid var(--colors-ContrastNeutral)}
.webfonts-ip2jzm:focus:not(#\#):not(#\#){outline:1px solid var(--colors-PrimaryBlue)}
.webfonts-6s0dn4:not(#\#):not(#\#):not(#\#){align-items:center}
.webfonts-r5ldyu:not(#\#):not(#\#):not(#\#){background-color:var(--backgroundColor)}
.webfonts-zyrq3l:not(#\#):not(#\#):not(#\#){background-color:var(--colors-ContrastDarker)}
.webfonts-189eng2:not(#\#):not(#\#):not(#\#){color:var(--colors-ContrastBrightest)}
.webfonts-1h6gzvc:not(#\#):not(#\#):not(#\#){cursor:not-allowed}
.webfonts-1ypdohk:not(#\#):not(#\#):not(#\#){cursor:pointer}
.webfonts-11xutdi:not(#\#):not(#\#):not(#\#){display:block!important}
.webfonts-1lliihq:not(#\#):not(#\#):not(#\#){display:block}
.webfonts-78zum5:not(#\#):not(#\#):not(#\#){display:flex}
.webfonts-rvj5dj:not(#\#):not(#\#):not(#\#){display:grid}
.webfonts-t1x0nq:not(#\#):not(#\#):not(#\#){font-family:var(--fontFamily)}
.webfonts-b4twgi:not(#\#):not(#\#):not(#\#){font-size:18px!important}
.webfonts-osj86m:not(#\#):not(#\#):not(#\#){font-size:18px}
.webfonts-1sgc6b7:not(#\#):not(#\#):not(#\#){font-style:var(--fontStyle)}
.webfonts-1xlr1w8:not(#\#):not(#\#):not(#\#){font-weight:700}
.webfonts-1oq5gaa:not(#\#):not(#\#):not(#\#){font-weight:var(--fontWeight)}
.webfonts-l56j7k:not(#\#):not(#\#):not(#\#){justify-content:center}
.webfonts-1qughib:not(#\#):not(#\#):not(#\#){justify-content:space-between}
.webfonts-1o2pa38:not(#\#):not(#\#):not(#\#){justify-items:center}
.webfonts-o5v014:not(#\#):not(#\#):not(#\#){line-height:1}
.webfonts-klk4pu:not(#\#):not(#\#):not(#\#){line-height:30px}
.webfonts-190dgpg:not(#\#):not(#\#):not(#\#){opacity:.65}
.webfonts-a0d40w:not(#\#):not(#\#):not(#\#){opacity:var(--opacity)}
.webfonts-1hl8ikr:not(#\#):not(#\#):not(#\#){outline-offset:2px}
.webfonts-10l6tqk:not(#\#):not(#\#):not(#\#){position:absolute}
.webfonts-dpxx8g:not(#\#):not(#\#):not(#\#){text-align:left}
.webfonts-lyipyv:not(#\#):not(#\#):not(#\#){text-overflow:ellipsis}
.webfonts-tvhhri:not(#\#):not(#\#):not(#\#){text-transform:uppercase}
.webfonts-1uosm7l:not(#\#):not(#\#):not(#\#){transform:var(--transform)}
.webfonts-htitgo:not(#\#):not(#\#):not(#\#){z-index:2}
.webfonts-vszx66:where(*)>*:not(#\#):not(#\#):not(#\#){pointer-events:none}
.webfonts-ca8h9q:only-child:not(#\#):not(#\#):not(#\#){display:none}
.webfonts-1qx5ct2:not(#\#):not(#\#):not(#\#):not(#\#){height:20px}
.webfonts-1vqgdyp:not(#\#):not(#\#):not(#\#):not(#\#){height:40px}
.webfonts-1iflsja:not(#\#):not(#\#):not(#\#):not(#\#){height:var(--spacing-Half)}
.webfonts-3rpodo:not(#\#):not(#\#):not(#\#):not(#\#){left:-9999px}
.webfonts-adln40:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:var(--spacing-Quarter)}
.webfonts-1jstro9:not(#\#):not(#\#):not(#\#):not(#\#){margin-left:calc(var(--spacing-Full) * -1)}
.webfonts-12ec2z3:not(#\#):not(#\#):not(#\#):not(#\#){max-height:var(--fontFamily-MaxHeight,none)}
.webfonts-e0957l:not(#\#):not(#\#):not(#\#):not(#\#){min-height:22px}
.webfonts-bhpgbg:not(#\#):not(#\#):not(#\#):not(#\#){min-height:var(--minHeight)}
.webfonts-rugqim:not(#\#):not(#\#):not(#\#):not(#\#){min-height:var(--spacing-GoldenUnit)}
.webfonts-1oslful:not(#\#):not(#\#):not(#\#):not(#\#){min-width:22px}
.webfonts-1odjw0f:not(#\#):not(#\#):not(#\#):not(#\#){overflow-y:auto}
.webfonts-2kegb5:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:var(--spacing-Full)}
.webfonts-h8yej3:not(#\#):not(#\#):not(#\#):not(#\#){width:100%}
.webfonts-w4jnvo:not(#\#):not(#\#):not(#\#):not(#\#){width:20px}
.webfonts-10nwz3g:not(#\#):not(#\#):not(#\#):not(#\#){width:calc(100% + var(--spacing-Full))}
.webfonts-lpq68b:not(#\#):not(#\#):not(#\#):not(#\#){width:var(--spacing-Half)}
.webfonts-zboxd6:last-child:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:0}